.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color:  rgba(51, 52, 52, 0.23);;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    white-space: nowrap;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /*Responsive hacks*/
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }


  /*mobiele tickets*/
  .showcase1 {
    background-image: url(../Img/vliegticketsachtergrond.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .travel-card1 {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    font-weight: 300;
    background-color: white;
    box-shadow: 0px 0px 100px -10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 350px;
  }
  .travel-card1:hover > .button-favorite {
    display: inline-flex;
  }
  .travel-card1:hover > .image > img {
    transform: scale(1.2);
  }
  .travel-card1 .image {
    width: 100%;
    height: 250px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
  }
  .travel-card1 .image > img {
    width: 100%;
    height: 100%;
    background-image: url("../Img/oostenrijkvliegtickets.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: all 0.28s ease-in-out;
  }
  .travel-card1 > .content {
    color: #545454;
    padding: 1em 1.5em;
  }
  .travel-card1 > .content > :nth-child(1n+2) {
    margin-top: 1em;
  }
  .travel-card1 > .content > .category {
    font-size: 1.2em;
    color: #bababa;
  }
  .travel-card1 > .content > .topic {
    font-size: 1.3em;
    line-height: calc(1rem * 2.8);
    word-break: break-all;
    max-height: calc(1rem * 2.8 * 2);
    overflow: hidden;
    position: relative;
    background-color: white;
  }
  .travel-card1 > .content > .recommendation {
    display: flex;
    align-items: center;
  }
  .travel-card1 > .content > .recommendation > .score {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fecf8b;
    background: linear-gradient(130deg, #fecf8b 0%, #ffc673 75%, #ffbb58 100%);
    color: white;
    padding: 5px 8px;
    border-radius: 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .travel-card1 > .content > .recommendation > .score > :first-child {
    padding-top: 1px;
    padding-left: 4px;
  }
  .travel-card1 > .content > .recommendation > .score > :last-child {
    font-size: 1.1em;
    padding-left: 6px;
  }
  .travel-card1 > .content > .recommendation > .comment {
    color: #bababa;
    margin-left: 1.5em;
  }
  .travel-card1 > .content > .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .travel-card1 > .content > .price > .discount-info {
    color: #4fc3f7;
  }
  .travel-card1 > .content > .price > .original-price {
    font-size: 2em;
  }
  .travel-card1 > .button-favorite {
    width: 2.8em;
    height: 2.8em;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #bababa;
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .travel-card1 > .button-favorite:hover > :first-child {
    display: none;
  }
  .travel-card1 > .button-favorite:hover > :last-child {
    display: block;
  }
  .travel-card1 > .button-favorite > i {
    font-size: 1.8em;
    padding-top: 2px;
  }
  .travel-card1 > .button-favorite > :last-child {
    display: none;
    color: #ff5a60;
  }

  /*2de travel kaart*/
  .showcase2 {
    background-image: url(../Img/bergen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .travel-card2 {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    font-weight: 300;
    background-color: white;
    box-shadow: 0px 0px 100px -10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 350px;
  }
  .travel-card2:hover > .button-favorite {
    display: inline-flex;
  }
  .travel-card2:hover > .image > img {
    transform: scale(1.2);
  }
  .travel-card2 .image {
    width: 100%;
    height: 250px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
  }
  .travel-card2 .image > img {
    width: 100%;
    height: 100%;
    background-image: url("../Img/frankrijkvliegtickets.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: all 0.28s ease-in-out;
  }
  .travel-card2 > .content {
    color: #545454;
    padding: 1em 1.5em;
  }
  .travel-card2 > .content > :nth-child(1n+2) {
    margin-top: 1em;
  }
  .travel-card2 > .content > .category {
    font-size: 1.2em;
    color: #bababa;
  }
  .travel-card2 > .content > .topic {
    font-size: 1.3em;
    line-height: calc(1rem * 2.8);
    word-break: break-all;
    max-height: calc(1rem * 2.8 * 2);
    overflow: hidden;
    position: relative;
    background-color: white;
  }
  .travel-card2 > .content > .recommendation {
    display: flex;
    align-items: center;
  }
  .travel-card2 > .content > .recommendation > .score {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fecf8b;
    background: linear-gradient(130deg, #fecf8b 0%, #ffc673 75%, #ffbb58 100%);
    color: white;
    padding: 5px 8px;
    border-radius: 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .travel-card2 > .content > .recommendation > .score > :first-child {
    padding-top: 1px;
    padding-left: 4px;
  }
  .travel-card2 > .content > .recommendation > .score > :last-child {
    font-size: 1.1em;
    padding-left: 6px;
  }
  .travel-card2 > .content > .recommendation > .comment {
    color: #bababa;
    margin-left: 1.5em;
  }
  .travel-card2 > .content > .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .travel-card2 > .content > .price > .discount-info {
    color: #4fc3f7;
  }
  .travel-card2 > .content > .price > .original-price {
    font-size: 2em;
  }
  .travel-card2 > .button-favorite {
    width: 2.8em;
    height: 2.8em;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #bababa;
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .travel-card2 > .button-favorite:hover > :first-child {
    display: none;
  }
  .travel-card2 > .button-favorite:hover > :last-child {
    display: block;
  }
  .travel-card2 > .button-favorite > i {
    font-size: 1.8em;
    padding-top: 2px;
  }
  .travel-card2 > .button-favorite > :last-child {
    display: none;
    color: #ff5a60;
  }

  /*3de travel card*/
  .showcase3 {
    background-image: url(../Img/bergen3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .travel-card3 {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    font-weight: 300;
    background-color: white;
    box-shadow: 0px 0px 100px -10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 350px;
  }
  .travel-card3:hover > .button-favorite {
    display: inline-flex;
  }
  .travel-card3:hover > .image > img {
    transform: scale(1.2);
  }
  .travel-card3 .image {
    width: 100%;
    height: 250px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
  }
  .travel-card3 .image > img {
    width: 100%;
    height: 100%;
    background-image: url("../Img/italievliegtickets.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: all 0.28s ease-in-out;
  }
  .travel-card3 > .content {
    color: #545454;
    padding: 1em 1.5em;
  }
  .travel-card3 > .content > :nth-child(1n+2) {
    margin-top: 1em;
  }
  .travel-card3 > .content > .category {
    font-size: 1.2em;
    color: #bababa;
  }
  .travel-card3 > .content > .topic {
    font-size: 1.3em;
    line-height: calc(1rem * 2.8);
    word-break: break-all;
    max-height: calc(1rem * 2.8 * 2);
    overflow: hidden;
    position: relative;
    background-color: white;
  }
  .travel-card3 > .content > .recommendation {
    display: flex;
    align-items: center;
  }
  .travel-card3 > .content > .recommendation > .score {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fecf8b;
    background: linear-gradient(130deg, #fecf8b 0%, #ffc673 75%, #ffbb58 100%);
    color: white;
    padding: 5px 8px;
    border-radius: 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .travel-card3 > .content > .recommendation > .score > :first-child {
    padding-top: 1px;
    padding-left: 4px;
  }
  .travel-card3 > .content > .recommendation > .score > :last-child {
    font-size: 1.1em;
    padding-left: 6px;
  }
  .travel-card3 > .content > .recommendation > .comment {
    color: #bababa;
    margin-left: 1.5em;
  }
  .travel-card3 > .content > .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .travel-card3 > .content > .price > .discount-info {
    color: #4fc3f7;
  }
  .travel-card3 > .content > .price > .original-price {
    font-size: 2em;
  }
  .travel-card3 > .button-favorite {
    width: 2.8em;
    height: 2.8em;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #bababa;
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .travel-card3 > .button-favorite:hover > :first-child {
    display: none;
  }
  .travel-card3 > .button-favorite:hover > :last-child {
    display: block;
  }
  .travel-card3 > .button-favorite > i {
    font-size: 1.8em;
    padding-top: 2px;
  }
  .travel-card3 > .button-favorite > :last-child {
    display: none;
    color: #ff5a60;
  }

  
  